DirectoryIndex index.php

RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [L,NS]

##### MISSIONS ####
RewriteRule ^landing.html$ 									/projet-groupe-fb/index.php?page=landing
