DirectoryIndex index.php

RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [L,NS]
#######UNCOMMENT THIS LINE ON YOUR LOCALHOST######
#RewriteBase /projet-groupe-fb/
##################################################

##### MISSIONS ####
RewriteRule ^landing.html$ 									index.php?page=landing
RewriteRule ^upload.html$ 									index.php?page=upload
RewriteRule ^politique.html$ 								index.php?page=privacy
RewriteRule ^desole.html$ 									index.php?page=sorry
RewriteRule ^merci.html$ 									index.php?page=thank
RewriteRule ^comment-jouer.html$ 							index.php?page=regle
RewriteRule ^galerie.html$ 									index.php?page=gallery
RewriteRule ^photo.html$ 									index.php?page=single
RewriteRule ^404.html$ 									    index.php?page=404
